.container
{
    background-image: url('./img2.jpeg');
    height: 700px;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top: 20px;
    

}
.new
{
    color: rgb(218, 231, 36);
    font-style: italic;
    text-align: center;
    padding-top: 300px;
    font-size: 70px;

}
.second
{
    color: aliceblue;
    padding-left: 775px;
    font-size: 40px;
    
}
.third
{
    color:rgb(235, 238, 241);
  
    height: 100px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: -200px;

    
}
.first
{
    display: inline-block;
    width: 24%;
    border-radius: 50%;
    color: white;



}
.beef
{
    margin-top:-5%
}
.food
{

    margin-right: 40%;
    margin-top: 90px;

}
.food1
{
    margin-top: -10px;
}

